@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline|Source+Code+Pro:200|Spectral:200");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 0;
}

#bg {
  background-image: url("./tyler-lastovich-616849-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

header {
  font-size: 150%;
  text-align: center;
  padding-top: 10%;
  font-family: "Source Code Pro", monospace;
  color: white;
}

#jargonstein {
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
}

.vertical-align {
  position: relative;
  top: 20%;
  /* transform: translateY(-50%); */
}

img {
  margin: 0;
  max-width: 10%;
  max-height: 10%;
  margin-bottom: 2%;
}

/* below is required so that h1 does not add a default margin resulting in a gap between this div and the preceding one */
h1 {
  margin: 0;
  font-family: "Bungee Hairline", cursive;
  font-size: 200%;
}

h2 {
  font-family: "Spectral", serif;
  font-size: 130%;
  padding-left: 5%;
  padding-right: 5%;
}

h3 {
  font-family: "Spectral", serif;
  font-size: 130%;
  padding-left: 5%;
  padding-right: 5%;
}

button.black-bg {
  /* width: auto; */
  margin-top: 10%;
  border: solid 4px white;
  color: white;
  background: transparent;
  font-size: 150%;
  font-family: "Bungee Hairline", cursive;
  padding: 1% 2% 1% 2%;
}

.light-bg {
  color: black;
}

.dark-bg {
  color: white;
}

#hacker-splash {
  height: 100vh;
  background-color: whitesmoke;
  text-align: center;
}

#new-tab-extension {
  height: 100vh;
  background-color: black;
  text-align: center;
  color: white;
}

#contact {
  height: 100vh;
  background-color: bisque;
  text-align: center;
}

.fade-in {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
