@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline|Poppins:100");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 0;
}

#bg {
  background-image: url("./tyler-lastovich-616849-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

header {
  font-size: 200%;
  text-align: center;
  padding-top: 10%;
  font-family: "Poppins", sans-serif;
  color: white;
  letter-spacing: 2px;
}

.dark-bg {
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
}

.light-bg {
  height: 100vh;
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.vertical-align {
  position: relative;
  top: 20%;
  /* transform: translateY(-50%); */
}

img {
  margin: 0;
  max-width: 8%;
  max-height: 8%;
  margin-bottom: 2%;
}

/* below is required so that h1 does not add a default margin resulting in a gap between this div and the preceding one */
h1 {
  margin: 0;
  font-family: "Bungee Hairline", cursive;
  font-size: 200%;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  padding-left: 5%;
  padding-right: 5%;
  color: rgb(136, 245, 245);
}

.body {
  font-family: "Poppins", sans-serif;
  font-size: 125%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

.light-bg .body {
  color: black;
}

.dark-bg button {
  margin-top: 5%;
  border: solid 4px white;
  color: white;
  background: transparent;
  font-size: 150%;
  font-family: "Bungee Hairline", cursive;
  padding: 1% 2% 1% 2%;
}

.light-bg button {
  margin-top: 5%;
  border: solid 4px black;
  color: black;
  background: transparent;
  font-size: 150%;
  font-family: "Bungee Hairline", cursive;
  padding: 1% 2% 1% 2%;
}


.dark-bg {
  color: #ffffff;
}

.light-bg {
  color: black;
}

.light-bg .subtitle {
  color: #0000ff;
}

#new-tab-extension {
  height: 100vh;
  background-color: black;
  text-align: center;
  color: white;
}

#contact {
  height: 100vh;
  background-color: bisque;
  text-align: center;
}

.fade-in {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dark-bg a {
  text-decoration: none;
  color: white;
}

.dark-bg a:hover {
  text-decoration: none;
}

.light-bg a {
  text-decoration: none;
  color: black;
}

.light-bg a:hover {
  text-decoration: none;
}

.contact-section {
  background: #2f2f2f;
}
